@import "tailwindcss";

body {
	font-family: "Inter Variable", sans-serif;
}

:root {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--border: oklch(1 0 0 / 10%);
	--primary: oklch(0.6 0.141 242);
	--secondary: oklch(0.269 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--card: oklch(0.205 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
