@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter";
	font-weight: 400;
	font-display: swap;
	font-style: normal;
	src: url("/fonts/Inter-400.ttf") format("truetype");
}

@font-face {
	font-family: "Inter";
	font-weight: 500;
	font-display: swap;
	font-style: normal;
	src: url("/fonts/Inter-500.ttf") format("truetype");
}

@font-face {
	font-family: "Inter";
	font-weight: 600;
	font-display: swap;
	font-style: normal;
	src: url("/fonts/Inter-600.ttf") format("truetype");
}

@font-face {
	font-family: "Inter";
	font-weight: 700;
	font-display: swap;
	font-style: normal;
	src: url("/fonts/Inter-700.ttf") format("truetype");
}

@layer base {
	:root {
		--foreground: 2, 6, 23;
		--background: 255, 255, 255;
		--border: 226, 232, 240;
		--fiuba: 0, 138, 204;
	}

	.dark {
		--foreground: 248, 250, 252;
		--background: 15, 23, 42;
		--border: 51, 65, 85;
		--fiuba: 0, 138, 204;
		color-scheme: dark;
	}
}

@layer utilities {
	.bordered-overlay {
		@apply border-slate-200 dark:border-slate-700;
	}
}
